<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    forceCoversAnnotation="true"
    mapTestClassNameToCoveredClassName="true"
    bootstrap="vendor/autoload.php"
    colors="true"
    backupGlobals="false"
    backupStaticAttributes="false"
    syntaxCheck="false"
    stopOnError="false"
>

    <testsuites>
        <testsuite name="CoverArtArchive Test Suite">
            <directory>./tests/CoverArtArchive/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
            <directory>./tests/</directory>
            <directory>./vendor/</directory>
        </blacklist>
    </filter>

    <logging>
        <log
            type="coverage-html"
            target="./tests/CoverArtArchive/Coverage"
            charset="UTF-8"
            yui="true"
            lowUpperBound="35"
            highLowerBound="70"
            showUncoveredFiles="true"
        />
    </logging>

</phpunit>
